@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Montserrat);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

nav {
    height: 90px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 110px;
}

.nav-links {
    width: 650px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-links a {
    text-decoration: none;
    text-transform: uppercase;
    color: #B4B4B4;
}

.nav-links a:hover {
    color: #a09f9f;
}

header {
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid red;
}

header img {
    height: 250px;
    width: 200px;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
    height: 50%;
    width: 100%;
}

.header-top img {
    margin: 0px 10px;
}

.header-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
    height: 50%;
    width: 100%;
}

.header-bottom img {
    margin: 10px 10px;
    height: 240px;
}